@import url("components/container.css");
@import url("components/button.css");
@import url("components/list.css");

body {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

a:hover {
  color: black;
}

#avatar {
  width: 200px;
  border-radius: 50%;
}

#back {
  width: 400px;
  z-index: 0;
  position: absolute;
  margin-left: 80px;
  transform: rotate(20deg);
  border-radius: 50%;
  border: solid 10px #FFF;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-white {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 100px;
  margin: 20px 0px;
  text-align: center;
  margin: 20px auto;
}

#introduction p {
  margin-bottom: 40px;
}

#space {
  width: 50px;
}

.small {
  width: 400px;
}